/* FAQSection.css */
.faq-section h2{
    
    color:  #6B3CC9;
    
}
.faq-section {
    margin-top: 50px; /* Add some top margin */
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .faq-list {
    border-radius: 5px; /* Add border radius */
    padding: 20px; /* Add padding */
  }
  
  .faq-item {
    padding: 10px 0; /* Add vertical padding */
  }
  
  .faq-question {
    display: flex; /* Use flexbox for question and toggle button */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 20px; /* Increase font size */
  }
  
  .toggle-btn {
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 24px; /* Increase font size */
  }
  
  .faq-answer {
    margin-top: 10px; /* Add top margin to answer */
    display: none; /* Hide answer by default */
    color:#6B3CC9;
    /* Set answer color to purple */
  }
  
  .faq-item.active .faq-answer {
    display: block; /* Show answer when the corresponding item is active */
  }
  
  @media (max-width: 768px) {
    .faq-section {
        margin: 30px;}
  }