/* HeroSection.css */

.hero-section {
  background-image: url('assets/hero.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.hero-content {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  position: absolute;
  bottom: 10px;
  left: 10;
  width: 700px;
  color: #fff;
  padding: 30px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.hero-content h1 {
  margin: 0;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.5rem;
}

.button1-container {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* For responsiveness */
@media (max-width: 768px) {
  .hero-content {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
  }
  
  .button1-container {
    bottom: 10px;
    left: 15px;
  }
  
  .img-fluid {
    margin-left: 0;
  }
  
  .right-part {
    margin-left: 0;
    margin-right: 100px;
    margin-bottom: 40px;
  }
  
  .o {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .app1 .row {
    flex-direction: column-reverse; /* Reverse the flex direction for small screens */
  }

.d{
  margin-top: 500px;
}
  
.dd{
  margin-top: -800px;
}
  
}

/* Additional styling */
.img-fluid {
  margin-left: 50px; /* Adjust as needed */
}

.right-part {
  margin-left: 150px; /* Adjust as needed */
}
